In [3]:
import pandas as pd

In [20]:
f1 = pd.read_csv('C:/Users/197212/Documents/Learnings/SuperLeague/TimeSeries/Test-Data.csv')
f1.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,3.79267,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,-4.42849,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,-2.47066,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,1.63831,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,5.93325,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029

In [21]:
 f2 = pd.read_csv('C:/Users/197212/Documents/Learnings/SuperLeague/TimeSeries/Test-Data.csv', parse_dates=["date"], index_col="date")
 f2.head()

,quarter,stock,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,
2011-01-07,1,AA,$15.82,$16.72,$15.78,$16.42,239655616,3.79267,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
2011-01-14,1,AA,$16.71,$16.71,$15.64,$15.97,242963398,-4.42849,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2011-01-21,1,AA,$16.19,$16.38,$15.60,$15.79,138428495,-2.47066,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
2011-01-28,1,AA,$15.87,$16.63,$15.82,$16.13,151379173,1.63831,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
2011-02-04,1,AA,$16.18,$17.39,$16.18,$17.14,154387761,5.93325,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029

In [22]:
#Run the below cell to filter the closing price related to stock 'AA'

closeTS = f2[(f2.stock == 'AA')].close.str.replace('$',' ').astype(float)

In [26]:
#How many observations have you seen from Jan 1, 2011 to March 31, 2011?
closeTS

date
2011-01-07    16.42
2011-01-14    15.97
2011-01-21    15.79
2011-01-28    16.13
2011-02-04    17.14
2011-02-11    17.37
2011-02-18    17.28
2011-02-25    16.68
2011-03-04    16.58
2011-03-11    16.03
2011-03-18    16.11
2011-03-25    17.09
2011-04-01    17.47
2011-04-08    17.92
2011-04-15    16.52
2011-04-21    16.97
2011-04-29    17.00
2011-05-06    17.15
2011-05-13    17.10
2011-05-20    16.26
2011-05-27    16.48
2011-06-03    15.92
2011-06-10    15.28
2011-06-17    14.72
2011-06-24    15.23
Name: close, dtype: float64

In [29]:
#Perform a monthly resample/downsample of the time series. What is the maximum value for February?
closeTS.resample('1m').max().head()

date
2011-01-31    16.42
2011-02-28    17.37
2011-03-31    17.09
2011-04-30    17.92
2011-05-31    17.15
Freq: M, Name: close, dtype: float64

In [34]:
#Perform a daily resample/upsample of the data. Do interpolation to fill the data. 
#What is the value for Jan 12, 2011?
closeTS.resample('1d').interpolate().head(10)

date
2011-01-07    16.420000
2011-01-08    16.355714
2011-01-09    16.291429
2011-01-10    16.227143
2011-01-11    16.162857
2011-01-12    16.098571
2011-01-13    16.034286
2011-01-14    15.970000
2011-01-15    15.944286
2011-01-16    15.918571
Freq: D, Name: close, dtype: float64

In [38]:
#Perform a daily resample/upsample of the data. Do a forward filling of the missing values with limit of 2. 
#What is the value for Jan 16,2011?
closeTS.resample('1d').ffill(limit=2).head(10)

date
2011-01-07    16.42
2011-01-08    16.42
2011-01-09    16.42
2011-01-10      NaN
2011-01-11      NaN
2011-01-12      NaN
2011-01-13      NaN
2011-01-14    15.97
2011-01-15    15.97
2011-01-16    15.97
Freq: D, Name: close, dtype: float64

In [37]:
#Perform a monthly resample/downsample of the time series. What is the minimum value for May?
closeTS.resample('1m').min().head()

date
2011-01-31    15.79
2011-02-28    16.68
2011-03-31    16.03
2011-04-30    16.52
2011-05-31    16.26
Freq: M, Name: close, dtype: float64